<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.auto_quote_keyword">true</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hibernate.connection.CharSet">utf8mb4</property>
        <property name="hibernate.connection.characterEncoding">utf8</property>
        <property name="hibernate.connection.useUnicode">true</property>
        <property name="connection.url">jdbc:mysql://127.0.0.1:3306/tanks?useUnicode=true&amp;character_set_server=utf8mb4&amp;serverTimezone=UTC</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
 
        <property name="connection.username">tanks</property>
        <property name="connection.password">tanks</property>
         
         
         
        <property name="show_sql">false</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.current_session_context_class">thread</property>
        
        <property name="hibernate.c3p0.acquire_increment">1</property>
        <property name="hibernate.c3p0.idle_test_period">100</property> <!-- seconds -->
        <property name="hibernate.c3p0.max_size">100</property>
        <property name="hibernate.c3p0.max_statements">0</property>
        <property name="hibernate.c3p0.min_size">10</property>
        <property name="hibernate.c3p0.testConnectionOnCheckin">true</property>
        <property name="hibernate.c3p0.timeout">1800</property> 

        <mapping class="gtanks.users.User"/>
        <mapping class="gtanks.users.garage.Garage"/>
        <mapping class="gtanks.users.karma.Karma"/>
        <mapping class="gtanks.main.netty.blackip.BlackIP"/>
        <mapping class="gtanks.logger.remote.LogObject"/>
        <mapping class="gtanks.rmi.payments.mapping.Payment"/>
        <mapping class="gtanks.system.dailybonus.mapping.DailyBonusInfo"/>
     </session-factory>
</hibernate-configuration>